* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* nav styles */
.header-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  margin-top: 68;
}
.header-text-color {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  /* margin-left: 226px;
  margin-top: 51px; */
  margin-right: 10px;
  padding: 50px 0 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-name {
  list-style: none;
  margin-top: 68;
  margin-left: 50px;
  margin-right: 50px;
}
.button {
  list-style: none;
  background-color: #fd6e0a;
  /* margin-left: 50px; */
  border-radius: 5px;
  height: 64px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0 0 0 150px;
}
.banner-text {
  margin-left: 30px;
  margin-right: 297px;
}
.author-talk {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}
.author-name {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 9px;
}
.describe {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.author-pic {
  /* width: 584px;
  height: 676px; */

  margin-top: 120px;
}
.contct {
  margin-left: 30px;
  width: 160px;
  height: 64px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  padding: 10px 23px;
  font-weight: 113px;
  font-size: larger;
}
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* about section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  margin-top: 97px;
  padding: 164px 157px 131px 156px;
  text-align: center;
}
.about-title {
  color: #181818;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.about-describe {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 40px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}

.name {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.value {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* what i do section styles */
.what-i-do-title {
  margin: 130px auto 30px auto;
  /* justify-content: center; */
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  
}
.skill-title{
  font-weight: 700;
font-size: 20px;
color: #181818;
margin-top: 30px;
margin-bottom: 20px;
}
/* resume styles */
.resume-content{
  display: flex;
  gap: 24px;
}
.resume{
margin-top: 130px;

/* font-weight: 700;
font-size: 35px;

color: #181818; */
}
.resume-title{
  font-weight: 700;
  font-size: 30px;
  color: #474747;
text-align: center;
margin-bottom: 113px;
}
.resume-e{
  font-weight: 700;
font-size: 30px;
color: #474747;
}
.degree{
font-weight: 700;
font-size: 25px;
color: #474747;
margin-top: 30px;
margin-bottom: 30px;

}
.year{
  font-weight: 600px;
  font-size: 20px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 20px;
}
.edu-des{
font-weight: 400;
font-size: 16px;
color: #757575;
margin-bottom: 30px;
}
.resume-btn{
  margin-top: 50px;
text-align: center;
}
/* footer section styles */
a{
  text-decoration: none;

}
.footer{
  display: flex;
 gap: 100px;
 background: #FFF8F3;
 margin-top: 113px;
 padding: 130px 230px;
}
.cont-details{
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-title{
  font-weight: 700;
font-size: 35px;
color: #181818;

}
.msg-title{
  font-weight: 700;
font-size: 35px;
margin-bottom: 28px;
}
.name{
  width: 461px;
  height: 64px;
  background: #FFFFFF;
border-radius: 5px;
padding: 18px 30px;
}
.email{
  width: 461px;
  height: 64px;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 18px 30px;
}
.textarea{
  width: 461px;
  height: 180px;
  margin-bottom: 24px;
  border-radius: 5px;
  padding: 18px 30px;
}